$color-white: #fff;

$color-black: #000;

$color-gray-100: #f3f5f8;
$color-gray-200: #c0cfea;
$color-gray-300: #868686;
$color-gray-400: #6a758d;
$color-gray-500: #6a707e;
$color-gray-600: #171717;
$color-gray-700: #c4c4c4;

$color-green: #0e9260;

$color-red: #b73520;

$color-purple-100: #18043a;
$color-purple-200: #5f187a;
$color-blue: #0e4d92;
