@import "/src/utils/_colors.scss";

.input {
  position: relative;
  flex: 1 1 auto;
  width: 100%;

  display: flex;
  flex-direction: column;

  .input-label {
    position: absolute;
    bottom: 10px;

    font-size: 14px;
    color: $color-gray-400;

    transition: all 0.3s;
  }

  .input-field {
    z-index: 1;
    border: 0;
    padding: 0 0 2px 0;

    background-color: transparent;
    border-bottom: 1px solid $color-gray-200;

    font: inherit;
    font-size: 14px;
    line-height: 24px;

    &:focus {
      outline: 0;
      border-bottom-color: $color-purple-100;
    }

    &:focus,
    &:not(:placeholder-shown) {
      & + .input-label {
        transform: translateY(-15px);
        font-size: 12px;
      }
    }

    &.error {
      border-bottom-color: $color-red;
    }
  }
  .error-message {
    position: absolute;
    top: 29px;

    font-size: 11px;
    color: $color-red;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01px;
  }
}
