@import "../../utils/colors";

.status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: row;
}

.bar {
  display: flex;
  height: 10px;
}

.done-bar {
  background-color: $color-purple-100;
}

.remain-bar {
  background-color: $color-gray-200;
}
