.label {
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}
.orange {
  color: #fc5d27;
}

.blue {
  color: #184fc4;
}

.green {
  color: #0e9260;
}

.purple {
  color: #2f0871;
}

.red {
  color: #b73520;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}
