@import "/src/utils/_colors.scss";

li {
  list-style-type: none;
}

.nav-list {
  .link {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: $color-gray-300;
    font-weight: 400;

    &.selected {
      position: relative;
      font-weight: 700;
      color: $color-black;

      &::before {
        content: "";
        position: absolute;
        height: 60px;
        width: 7px;
        left: -40px;

        background-color: $color-purple-100;
      }
    }
  }
}
