@import "/src/utils/_colors.scss";

button {
  border-radius: 4px;
  height: 36px;
  width: 80px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  border: 0px;
  cursor: pointer;

  &.contained {
    color: $color-white;

    &.purple {
      background-color: $color-purple-100;
    }

    &.green {
      background-color: $color-green;
    }
  }

  &.outlined {
    background-color: $color-white;
    &.purple {
      color: $color-purple-100;
      border: 1px solid $color-purple-100;
    }

    &.green {
      color: $color-green;
      border: 1px solid $color-green;
    }
  }
}

.XXS {
  min-width: 70px;
  width: 70x;
  min-height: 30px;
  height: 30px;
}

.XS {
  min-width: 115px;
  width: 115x;
  min-height: 25px;
  height: 25px;
}

.S {
  min-width: 36px;
  width: 36px;
}

.M {
  min-width: 90px;
}

.L {
  min-width: 100px;
}

.XL {
  min-width: 140px;
}

.XXL {
  min-width: 150px;
}

.XXXL {
  min-width: 240px;
}
