@import "/src/utils/_colors.scss";

.auth-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;

  background-color: $color-gray-100;

  .bg-waves {
    position: absolute;
    width: 100%;
    height: inherit;
    padding: 0;
    border: 0;

    overflow: hidden;

    background: url("../../assets/waves.png");
    background-position-y: bottom;
    background-repeat: repeat-x;

    &.effect {
      animation: main-wave-animation 25s linear infinite;
      z-index: 5;
      opacity: 1;
      animation-delay: 0s;
      bottom: 0;

      &:nth-child(2) {
        animation: second-wave-animation 15s linear infinite;
        z-index: 4;
        opacity: 0.6;
        animation-delay: -5s;
        bottom: 20px;
      }

      &:nth-child(3) {
        animation: main-wave-animation 25s linear infinite;
        z-index: 3;
        opacity: 0.4;
        animation-delay: -5s;
        bottom: 35px;
      }
    }
  }

  .logo {
    position: absolute;
    z-index: 30;

    top: 30%;
    left: 32%;

    width: 300px;
    height: 170px;

    opacity: 1;
    transition: all 0.5s;
  }

  .auth-container {
    z-index: 40;
    display: block;

    margin: auto auto auto 200px;

    width: 380px;
    height: fit-content;

    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    background: $color-white;

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.5s linear;

    h2 {
      font-weight: 400;
      font-size: 28px;
      text-align: center;
      margin-bottom: 60px;
    }
  }
}

@media screen and (max-width: 880px) {
  .auth-page {
    .logo {
      display: none;
    }
  }
}

@media screen and (max-width: 1100px) {
  .auth-page {
    .logo {
      opacity: 0;
    }

    .auth-container {
      margin-left: calc(50% - 190px);
    }
  }
}

@media screen and (min-width: 1980px) {
  .auth-page {
    .bg-waves {
      width: 100%;
    }
  }
}

@keyframes main-wave-animation {
  0% {
    background-position-x: 0;
    background-position-y: calc(100vh - 467px);
  }
  50% {
    background-position-y: calc(100vh - 397px);
  }
  100% {
    background-position-x: 1480px;
    background-position-y: calc(100vh - 467px);
  }
}
@keyframes second-wave-animation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1480px;
  }
}
