@import "/src/utils/_colors.scss";

.books {
  padding: 30px;
  margin-bottom: 40px;
  position: relative;

  .top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  h2 {
    font-weight: 500;
    font-size: 30px;
    color: $color-gray-600;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > * {
      margin-right: 40px;
      margin-bottom: 40px;
    }

    .double-button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 0px;
    }

    .single-button {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 0px;
    }

    .options {
      display: flex;
      padding: 0px 20px 0px 20px;
      justify-content: space-between;
      height: 40px;
      .link {
        text-decoration: none;
      }
      .heart {
        padding-top: 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
      .download-button {
        width: 30px;
        height: 30px;
      }
      .download-link {
        pointer-events: none;
      }
      .remove {
        width: 25px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
  .slider {
    max-height: 370px;
    overflow-y: auto;
  }
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}
.genre {
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  padding: 10px;
  color: $color-purple-300;
  &:hover {
    padding-top: 35px;
  }
}
.active {
  padding-top: 35px;
  font-weight: 800;

  &:hover {
    pointer-events: none;
  }
}

.loader-discover {
  position: absolute;
  margin-top: 5%;
  margin-left: 35%;
  width: 10vmax;
  height: 10vmax;
  border-right: 4px solid $color-purple-100;
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;

  &:before,
  &:after {
    content: "";
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid $color-purple-100;
    border-radius: 100%;
    animation: spinLeft 800ms linear infinite;
  }

  &:after {
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid $color-purple-100;
    animation: none;
  }

  @keyframes spinLeft {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }

  @keyframes spinRight {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
@media only screen and (max-height: 754px) {
  .details {
    padding: 0px 40px 0px 40px;
    justify-content: flex-end;
    .bottom {
      margin-bottom: 70px;
      .heart {
        margin-right: 50px;
      }
    }
    .genres {
      margin-bottom: 100px;
    }
  }
  .loader-discover {
    margin-top: 2%;
  }
}
